<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DeleteServletNhanvien</servlet-name>
        <servlet-class>servlet.DeleteServletNhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServletNhanvien</servlet-name>
        <servlet-class>servlet.InsertServletNhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServletNhanvien</servlet-name>
        <servlet-class>servlet.UpdateServletNhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServletCategories</servlet-name>
        <servlet-class>servlet.UpdateServletCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServletCategories</servlet-name>
        <servlet-class>servlet.DeleteServletCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServletCategories</servlet-name>
        <servlet-class>servlet.InsertServletCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Timkiem_Servlet</servlet-name>
        <servlet-class>servlet.Timkiem_Tin_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServletTin</servlet-name>
        <servlet-class>servlet.DeleteServletTin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServletTin</servlet-name>
        <servlet-class>servlet.InsertServletTin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServletNhanvien</servlet-name>
        <url-pattern>/DeleteServletNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServletNhanvien</servlet-name>
        <url-pattern>/InsertServletNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServletNhanvien</servlet-name>
        <url-pattern>/UpdateServletNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServletCategories</servlet-name>
        <url-pattern>/UpdateServletCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServletCategories</servlet-name>
        <url-pattern>/DeleteServletCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServletCategories</servlet-name>
        <url-pattern>/InsertServletCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Timkiem_Servlet</servlet-name>
        <url-pattern>/Timkiem_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServletTin</servlet-name>
        <url-pattern>/DeleteServletTin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServletTin</servlet-name>
        <url-pattern>/InsertServletTin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
