/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2019, 3:16:00 PM
    Author     : Administrator
*/
/*section table {
     border: 10px;
     width: 600px;
     height: 350px;
     margin-left:auto;
     margin-right: auto;
     margin-top: 300px;
     background: pink;
     float: left;
}*/

section .loginleft{
    width: 25%;
    height: 400px;
    margin-top: 10px;
    float: left;
    margin-bottom: 10px;
}
section .loginfrm{
    width: 50%;
    height: 400px;
    float: left;
    background: pink;
    border: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loginfrm h1{
    margin-top: 30px;
}
.loginfrm form{
   margin-top: 40px;
}
.loginfrm form p{
    
}
header .webname{
	height: 100px;
	width:40%;
	background: #FFF;
	float: left;
}

.webname img{
	height: 70px;
	width: 70px;
	float: left;
	margin-left: 150px; 

}
.webname h1{
	color:  #F00;
	float: left;
	margin-bottom: 15px; 
	font-family: cursive;
}
header .hform {
   height: 100px;
  width: 60%;
  float:left;
}
header form {
  margin-top: 30px;
  margin-right: 160px;
}
form .search_icons{
    padding-right: 50px;
    /*margin-top: 30px;*/
    height: 30px;
    border: solid white 1px;
    border-radius: 4px; 
    background-color: #FFF;
    position: relative;
    float:left;
    z-index: 1;
}
form .search_icons:hover{
    background-color: white;
}
form .search_submit{
     float: left;
    position: relative;
    background:none;
    height: 30px;
    border: none;
    left: 420px;
    z-index: 2;
   
}
nav{
	height: 50px;
	width: 100%;
	background:#8A0808; 
	float: left;
}
.top_nav ul{
  margin: 0;
  margin-left: 250px;
  padding: 0; 
  /*align-items: center;*/

}
.top_nav ul li{
    float: left;
   list-style-type: none;
   
}
.top_nav ul li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 20px;
    color: #FFF;
}
.top_nav ul li:hover {
    //color: red;
    background-color: #3B0B0B;
    text-decoration: none;

}

input.search_icons {
    border: 1px solid red;
    width: 400px;
}

img.anh2 {
    position: absolute;
    height: 19px;
    width: 28px;
    top: 9px;
}

footer {
/*text-align: center;*/
  background-color: #E6E6E6;
  height: 350px;
  width: 100%;
  float: left;
  border: solid 1px lightgrey;
  padding: 20px 10px;
}
footer .shear {
    text-align: center;
    font-family: Arial;
    position: relative;
}
.shear a {
    background-color: red;
    color: white;
    margin: 10px;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 5px;
}
.shear a:hover {
    background: white;
    color: red;
    /*border: 1px solid white;*/
}
footer .intro{
  list-style-type: none;
   text-align: left;
   margin-left: 400px;
}
.introduc h2 {
  font-family: Arial;
}
 h3{
	text-align: center;
}
